<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pode ser meme ou tem que ser sério</title>

    <style>
        body {
            background-color: black;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }
        table {
            align-items: start;
            width: 100%;

        }
    </style>


</head>

<body>
    
    <div>
        <form action="" method="POST">
            
            <table>
                <thead>
                    <tr>
                        <th>
                            Ciencias da Natureza
                        </th>
                        <th>
                            Ciencias Humanas
                        </th>

                        <th>
                            Matemática
                        </th>
                    
                        <th>
                            Linguagens
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>

                            <div>
                                Física: 
                                <select name="f1" >
                                    <option></option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                
                                <select name="f2">
                                    <option></option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                <br><br><br>
                                
                                Química: 
                                <select name="q1" >
                                    <option></option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                
                                <select name="q2">
                                    <option></option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                <br><br><br>
                                
                                Biologia: 
                                <select name="b1" >
                                    <option></option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                
                                <select name="b2">
                                    <option></option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                            </div>

                        </td>
                        <td>

                            
                            <div>
                                Sociologia: 
                                <select name="s1" >
                                    <option></option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                
                                <select name="s2">
                                    <option></option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>

                                História: 
                                <select name="h1" >
                                    <option></option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                
                                <select name="h2">
                                    <option></option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                <br><br><br>
                                
                                Geografia: 
                                <select name="g1" >
                                    <option></option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                
                                <select name="g2">
                                    <option></option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                <br><br><br>
                                
                                Filosofia: 
                                <select name="fi1" >
                                    <option></option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                
                                <select name="fi2">
                                    <option></option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                            </div>

                        </td>
                        <td>

                            <div>
                                <select name="m1">
                                    <option></option>
                                        <option>FGB 1</option>
                                        <option>FGB 2</option>
                                        <option>FGB 3</option>
                                        <option>FGB 4</option>
                                        <option>FGB 5</option>
                                        <option>FGB 6</option>
                                        <option>FGB 7</option>
                                        <option>FGB 8</option>
                                        <option>FGB 9</option>
                                        <option>FGB 10</option>
                                        <option>FGB 11</option>
                                        <option>FGB 12</option>
                    
                                        <option>FIC 1</option>
                                        <option>FIC 2</option>
                                        <option>FIC 3</option>
                                        <option>FIC 4</option>
                                        <option>FIC 5</option>
                                        <option>FIC 6</option>
                                        <option>FIC 7</option>
                                        <option>FIC 8</option>
                                        <option>FIC 9</option>
                                        <option>FIC 10</option>
                                        <option>FIC 11</option>
                                        <option>FIC 12</option>
                                </select>

                                <select name="m2">
                                    <option></option>
                                        <option>FGB 1</option>
                                        <option>FGB 2</option>
                                        <option>FGB 3</option>
                                        <option>FGB 4</option>
                                        <option>FGB 5</option>
                                        <option>FGB 6</option>
                                        <option>FGB 7</option>
                                        <option>FGB 8</option>
                                        <option>FGB 9</option>
                                        <option>FGB 10</option>
                                        <option>FGB 11</option>
                                        <option>FGB 12</option>
                    
                                        <option>FIC 1</option>
                                        <option>FIC 2</option>
                                        <option>FIC 3</option>
                                        <option>FIC 4</option>
                                        <option>FIC 5</option>
                                        <option>FIC 6</option>
                                        <option>FIC 7</option>
                                        <option>FIC 8</option>
                                        <option>FIC 9</option>
                                        <option>FIC 10</option>
                                        <option>FIC 11</option>
                                        <option>FIC 12</option>
                                </select>
                            </div>

                        </td>
                        <td>

                            <div>
                                Portugues: 
                                <select name="p1" >
                                    <option></option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                
                                <select name="p2">
                                    <option></option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                <br><br><br>
                                
                                Educação Física: 
                                <select name="ed1" >
                                    <option></option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                
                                <select name="ed2">
                                    <option></option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                <br><br><br>
                                
                                Inglês: 
                                <select name="i1" >
                                    <option></option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                
                                <select name="i2">
                                    <option></option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>

                                <br><br><br>
                                
                                Literatura: 
                                <select name="li1">
                                    <option></option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                
                                <select name="li2">
                                    <option></option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                            </div>

                        </td>
                    </tr>
                </tbody>

            </table>
            

            <br><br><br>

            
            </select>


            <h1> <select required name="turma">
                <option> </option>
                <option>A</option>
                <option>B</option>
            </select> </h1>
            

            <button type="submit"> Enviar </button>
        </form>
    </div>

    

    <h1>Hoje você vai levar: </h1>
    <p> Ciencias da natureza: {{context['cn']}} </p>
    <p> Ciencias Humanas: {{context['ch']}} </p>
    <p> Matemática: {{context['m']}} </p>
    <p> Linguagens: {{context}} </p>
    <p> {{horario}} </p>
</body>


</html>