<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Organizador de Livros</title>

    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        body{
            background-color: black;
            color: white
        }
        
        table {
            width: 100%;
            height: 160px;
        }
    </style>

</head>

<body>
    
    <div>
        <form action="" method="POST">
            
            <table>
                <thead>
                    <tr>
                        <th>
                            Ciencias da Natureza
                        </th>
                        <th>
                            Ciencias Humanas
                        </th>

                        <th>
                            Matemática
                        </th>
                    
                        <th>
                            Linguagens
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>

                            <div>
                                Física: 
                                <select name="f1" >
                                    <option> {{' '.join(livros['fisica'][0]) if not livros['fisica'][0] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                
                                <select name="f2">
                                    <option> {{' '.join(livros['fisica'][1]) if not livros['fisica'][1] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                <br><br><br>
                                
                                Química: 
                                <select name="q1" >
                                    <option> {{' '.join(livros['quimica'][0]) if not livros['quimica'][0] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                
                                <select name="q2">
                                    <option> {{' '.join(livros['quimica'][1]) if not livros['quimica'][1] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                <br><br><br>
                                
                                Biologia: 
                                <select name="b1" >
                                    <option> {{' '.join(livros['biologia'][0]) if not livros['biologia'][0] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                
                                <select name="b2">
                                    <option> {{' '.join(livros['biologia'][1]) if not livros['biologia'][1] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                            </div>

                        </td>
                        <td>

                            
                            <div>
                                Sociologia: 
                                <select name="s1" >
                                    <option> {{' '.join(livros['sociologia'][0]) if not livros['sociologia'][0] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                
                                <select name="s2">
                                    <option> {{' '.join(livros['sociologia'][1]) if not livros['sociologia'][1] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>

                                História: 
                                <select name="h1" >
                                    <option> {{' '.join(livros['historia'][0]) if not livros['historia'][0] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                
                                <select name="h2">
                                    <option> {{' '.join(livros['historia'][1]) if not livros['historia'][1] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                <br><br><br>
                                
                                Geografia: 
                                <select name="g1" >
                                    <option> {{' '.join(livros['geografia'][0]) if not livros['geografia'][0] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                
                                <select name="g2">
                                    <option> {{' '.join(livros['geografia'][1]) if not livros['geografia'][1] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                <br><br><br>
                                
                                Filosofia: 
                                <select name="fi1" >
                                    <option> {{' '.join(livros['filosofia'][0]) if not livros['filosofia'][0] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                
                                <select name="fi2">
                                    <option> {{' '.join(livros['filosofia'][1]) if not livros['filosofia'][1] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                            </div>

                        </td>
                        <td>

                            <div>
                                <select name="m1">
                                    <option> {{' '.join(livros['matematica'][0]) if not livros['matematica'][0] == [''] else ''}} </option>
                                    <option>  </option>
                                        <option>FGB 1</option>
                                        <option>FGB 2</option>
                                        <option>FGB 3</option>
                                        <option>FGB 4</option>
                                        <option>FGB 5</option>
                                        <option>FGB 6</option>
                                        <option>FGB 7</option>
                                        <option>FGB 8</option>
                                        <option>FGB 9</option>
                                        <option>FGB 10</option>
                                        <option>FGB 11</option>
                                        <option>FGB 12</option>
                    
                                        <option>FIC 1</option>
                                        <option>FIC 2</option>
                                        <option>FIC 3</option>
                                        <option>FIC 4</option>
                                        <option>FIC 5</option>
                                        <option>FIC 6</option>
                                        <option>FIC 7</option>
                                        <option>FIC 8</option>
                                        <option>FIC 9</option>
                                        <option>FIC 10</option>
                                        <option>FIC 11</option>
                                        <option>FIC 12</option>
                                </select>

                                <select name="m2">
                                    <option> {{' '.join(livros['matematica'][1]) if not livros['matematica'][1] == [''] else ''}} </option>
                                    <option>  </option>
                                        <option>FGB 1</option>
                                        <option>FGB 2</option>
                                        <option>FGB 3</option>
                                        <option>FGB 4</option>
                                        <option>FGB 5</option>
                                        <option>FGB 6</option>
                                        <option>FGB 7</option>
                                        <option>FGB 8</option>
                                        <option>FGB 9</option>
                                        <option>FGB 10</option>
                                        <option>FGB 11</option>
                                        <option>FGB 12</option>
                    
                                        <option>FIC 1</option>
                                        <option>FIC 2</option>
                                        <option>FIC 3</option>
                                        <option>FIC 4</option>
                                        <option>FIC 5</option>
                                        <option>FIC 6</option>
                                        <option>FIC 7</option>
                                        <option>FIC 8</option>
                                        <option>FIC 9</option>
                                        <option>FIC 10</option>
                                        <option>FIC 11</option>
                                        <option>FIC 12</option>
                                </select>
                            </div>

                        </td>
                        <td>

                            <div>
                                Portugues: 
                                <select name="p1" >
                                    <option> {{' '.join(livros['portugues'][0]) if not livros['portugues'][0] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                
                                <select name="p2">
                                    <option> {{' '.join(livros['portugues'][1]) if not livros['portugues'][1] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                <br><br><br>
                                
                                Educação Física: 
                                <select name="ed1" >
                                    <option> {{' '.join(livros['ed'][0]) if not livros['ed'][0] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                
                                <select name="ed2">
                                    <option> {{' '.join(livros['ed'][1]) if not livros['ed'][1] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                <br><br><br>
                                
                                Inglês: 
                                <select name="i1" >
                                    <option> {{' '.join(livros['ingles'][0]) if not livros['ingles'][0] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                
                                <select name="i2">
                                    <option> {{' '.join(livros['ingles'][1]) if not livros['ingles'][1] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>

                                <br><br><br>
                                
                                Literatura: 
                                <select name="li1">
                                    <option> {{' '.join(livros['literatura'][0]) if not livros['literatura'][0] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                
                                <select name="li2">
                                    <option> {{' '.join(livros['literatura'][1]) if not livros['literatura'][1] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>

                                Artes: 
                                <select name="a1">
                                    <option> {{' '.join(livros['artes'][0]) if not livros['artes'][0] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                
                                
                                <select name="a2">
                                    <option> {{' '.join(livros['artes'][1]) if not livros['artes'][1] == [''] else ''}} </option>
                                    <option>  </option>
                                    <option>FGB 1</option>
                                    <option>FGB 2</option>
                                    <option>FGB 3</option>
                                    <option>FGB 4</option>
                                    <option>FGB 5</option>
                                    <option>FGB 6</option>
                                    <option>FGB 7</option>
                                    <option>FGB 8</option>
                                    <option>FGB 9</option>
                                    <option>FGB 10</option>
                                    <option>FGB 11</option>
                                    <option>FGB 12</option>
                
                                    <option>FIC 1</option>
                                    <option>FIC 2</option>
                                    <option>FIC 3</option>
                                    <option>FIC 4</option>
                                    <option>FIC 5</option>
                                    <option>FIC 6</option>
                                    <option>FIC 7</option>
                                    <option>FIC 8</option>
                                    <option>FIC 9</option>
                                    <option>FIC 10</option>
                                    <option>FIC 11</option>
                                    <option>FIC 12</option>
                                </select>
                            </div>

                        </td>
                    </tr>
                </tbody>

            </table>
            
            <h1> <select required name="turma">
                <option> {{turma}} </option>
                <option>A</option>
                <option>B</option>
            </select> </h1>

            <br><br><br>

            <button type="submit"> Enviar </button>

        </form>
    </div>

    <div>
        <form name="poxa" method="GET">
            
            <h1> <select required name="turma">
                <option> {{turma}} </option>
                <option>A</option>
                <option>B</option>
            </select> </h1>

            {% if not horario %}
                <h1>
                    <select name="dayweek">
                        <optione>  </optione>
                        <option> Segunda </option>
                        <option> Terça </option>
                        <option> Quarta </option>
                        <option> Quinta </option>
                        <option> Sexta </option>
                    </select>
                </h1>
            {%endif%}
            

            <button type="submit"> Ver horario </button>
        </form>
    </div>
    
    {% if context %}
    <h1>Você vai levar: </h1>
    {%endif%}

    {% if context['cn'] %}
        <p> Ciencias da natureza: {%for i in context['cn'] %}  {{" ".join(i)}} | {%endfor%} </p>
    {% endif %}

    {% if context['ch'] %}
        <p> Ciencias Humanas: {%for i in context['ch'] %}  {{" ".join(i)}} |  {%endfor%}</p>
    {% endif %}

    {% if context['m'] %}
        <p> Matemática: {%for i in context['m'] %}  {{" ".join(i)}} | {%endfor%} </p>
    {% endif %}

    {% if context['l'] %}
        <p> Linguagens: {%for i in context['l'] %}  {{" ".join(i)}} | {%endfor%} </p>
    {% endif %}

    {% if ot_livros['interioridade'] %}
        <p> -- Livro de Interioridade -- </p>
    {%endif%}

    {% if ot_livros['itinerario'] %}
        <p> -- Itinerario -- </p>
    {%endif%}
    
    <div class="horario">
        {% if horario %}
            {{horario}}
        {%endif%}
    </div>

</body>


</html>