<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livros</title>
    <style>
        body {
            background-color: black;
            justify-items: center;
        }

        .container {
            width: 1000px;
            height: 500px;
            background-color: white;
            align-items: center;
            justify-items: center;
        }

        .box {
            width: 900px;
            height: 100px;
            background-color: black;
            color: white;
            
        }
    </style>
</head>
<body>
    <div class="container">
        <h2> Mostrar os livros do dia </h2>
        <div class="box"> 

        </div>



        <div class="box">

        </div>
    </div>
</body>
</html>